.navContainer {
    background: #2A0944;
    padding: 1rem 2rem;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navLink {
    text-decoration: none;
}

.navButton {
    background: #3B185F;
    color: #FEC260;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    margin: 0 10px;
}

.navButton:hover {
    background: #A12568;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(161, 37, 104, 0.3);
}