.App {
   width: 100%;
   height: 100vh;
   text-align: center;
   /* background-image: url("./assets/imagenes/universe-sun-rick-and-morty-gif.gif"); */
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
}

#video{
   position: fixed;
   z-index: -1;
   width: 100%;
}